<header class="app-heading">
  <h1 class="display-5">Administrador de estudiantes</h1>
</header>
<div class="add-student-card">
  <div class="card-form">
    <h2 class="form-heading">Agregar Estudiante</h2>
    <form [formGroup]="form" class="form needs-validation" (submit)="postStudent()" novalidate>
      <div>
        <label class="form-label" for="studentName">Nombre</label>
        <input 
          class="form-control"
          formControlName="name" 
          type="text" 
          id="studentName">
        <div class="required-field">este campo es requerido.</div>
      </div>
        
      <div>
        <label class="form-label" for="studentLastname">Apellido</label>
        <input 
          class="form-control"
          formControlName="lastname" 
          type="text" 
          id="studentLastname">
        <div class="required-field">este campo es requerido.</div>
      </div>

      <div>
        <label class="form-label" for="studentage">Edad</label>
        <input 
          class="form-control"
          formControlName="age" 
          type="text" 
          id="studentage">
        </div>
        <div class="required-field">este campo es requerido.</div>
      <div>
        <label class="form-label" for="userResume">Subir CV</label>
        <input 
          class="form-control"
          formControlName="file"
          type="file" 
          accept=".doc,.docx,pdf,.txt"
          name="userResume" 
          id="userResume">
      </div>

      <button 
        class="btn form-btn"
        [class]="!form.valid ? 'disabled' : ''"
        type="submit">
        Agregar estudiante
      </button>
    </form>
    <div>O</div>
    <label class="form-label" for="xmlFile">
      <a class="btn xml-input">
        Cargar estudiantes via archivo XML
      </a>
    </label>
    <input 
      class="form-control"
      (change)="uploadFile($event)" 
      type="file" name="xmlFile" 
      id="xmlFile" accept=".xml" 
      hidden>
  </div>
</div>
<div class="app-heading students-heading">
  <h2 class="form-heading">Estudiantes</h2>
</div>
<div *ngIf="students.length" class="container">
  <div class="students-container">
    <app-student-card *ngFor="let student of students" [student]="student"></app-student-card>
  </div>
</div>
